
@font-face {
    font-family: "Livvic";
    src: url(../fonts/livvic\ \(1\).ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Livvic";
    src: url(../fonts/livvic\ \(2\).ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Livvic";
    src: url(../fonts/livvic\ \(3\).ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Livvic";
    src: url(../fonts/livvic\ \(4\).ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Livvic";
    src: url(../fonts/livvic\ \(5\).ttf);
    font-weight: 400;
}
